@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    margin-bottom: 10px;
  }
  .header {
    max-width: 768;
    margin: 0 auto;
  }
  .header .navbar-bg .navbar {
    padding: 0 1rem;
  }
  .header .navbar-bg .navbar .navbar-user {
    display: none;
  }
  .thegem .thegem-bg .thegem-logo {
    padding: 0 1rem;
  }
  .thegem .thegem-bg .thegem-btn {
    display: none;
  }
  .thegem .thegem-bg .thegem-icon {
    display: none;
  }
  .woo .woo-child {
    padding-left: 1rem;
  }
  .woo .woo-icon {
    display: none;
  }
  .section .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .calculate {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .calculate .cal-form {
    width: 100%;
  }
  .section .calculate .cart-total {
    width: 100%;
  }
  .section .maybe {
    padding: 0 1rem;
  }
  .section .maybe .maybe-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .maybe .maybe-list .maybe-items {
    margin: 20px 0;
    width: 100%;
  }
  .section .maybe .maybe-list .maybe-items .bg-items {
    width: 100%;
  }
  .section .maybe .maybe-list .maybe-price {
    width: 100%;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gem-bg .wd {
    margin: 20px 0;
  }
  .footer .footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .footer-child .suppot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .navbar-bg .navbar {
    padding: 0 1rem;
  }
  .navbar-bg .navbar .navbar-user {
    display: none;
  }
  h3 {
    margin-bottom: 10px;
  }
  .header {
    max-width: 768;
    margin: 0 auto;
  }
  .thegem .thegem-bg .thegem-logo {
    padding: 0 1rem;
  }
  .thegem .thegem-bg .thegem-icon {
    display: none;
  }
  .woo {
    padding: 0 1rem;
  }
  .section .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .calculate {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .calculate .cal-form {
    width: 100%;
  }
  .section .calculate .cart-total {
    padding: 0 20px;
    width: 100%;
  }
  .section .maybe .maybe-list {
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section .maybe .maybe-list .maybe-items {
    margin: 10px 5px;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gem-bg .wd {
    margin: 20px 0;
  }
  .footer .footer-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .maybe .maybe-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section .maybe .maybe-list .maybe-items {
    margin-bottom: 20px;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar-call,
.navbar-info,
.navbar-user,
.navbar-whilist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f6f7;
}

.navbar-bg {
  background-color: #f4f6f7;
}

.fa-angle-right,
.fa-headphones-alt {
  margin-right: 5px;
}

.navbar li {
  padding: 0 5px;
  color: #5f727f;
  text-align: center;
}

.whilist {
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 9px;
  background-color: #494c64;
  border-radius: 5px;
}

.thegme-bg,
.thegem-btn {
  text-transform: uppercase;
}

.thegem .thegem-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thegem .thegem-bg .thegem-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thegem .thegem-bg .thegem-logo span p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 800;
  color: #3c3950;
  padding: 0 5px;
}

.thegem .thegem-bg .thegem-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thegem .thegem-bg .thegem-btn li {
  padding: 0 10px;
}

.thegem .thegem-bg .thegem-btn li:hover {
  cursor: pointer;
}

.thegem .thegem-bg .thegem-btn p {
  padding: 0 5px;
  font-size: 14px;
  font-weight: 800;
  font-family: sans-serif;
  color: #3c3950;
}

.thegem .thegem-bg .thegem-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thegem .thegem-bg .thegem-icon li {
  margin: 0 10px;
}

.thegem .thegem-bg .thegem-icon .tag {
  position: relative;
  width: 25px;
  height: 25px;
  top: 5px;
}

.thegem .thegem-bg .thegem-icon .tag img {
  width: 25px;
  height: 25px;
  top: 5px;
}

.thegem .thegem-bg .thegem-icon .tag .text-tag {
  position: absolute;
  -webkit-transform: translate(12px, -30px);
          transform: translate(12px, -30px);
  font-size: 14px;
  color: #fff;
}

.woo {
  background-color: #e9f0ef;
}

.woo .woo-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9f0ef;
}

.woo .card-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.woo .card-link .woo-card {
  position: relative;
  top: -35px;
  font-size: 50px;
}

.woo .card-link .woo-card p {
  font-weight: 800;
  font-family: sans-serif;
}

.woo .card-link .woo-card span {
  font-family: system-ui;
  font-weight: 100;
}

.woo .card-link .woo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: -40px;
}

.woo .card-link .woo-link span,
.woo .card-link .woo-link li {
  color: #80d2df;
}

.woo .card-link .woo-link li:hover {
  color: #b4c1c8;
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}

.woo .card-link .woo-link span:hover {
  color: #b4c1c8;
  -webkit-text-decoration: inherit red;
          text-decoration: inherit red;
  display: inherit;
}

.woo .card-link .woo-link i {
  padding: 0 15px;
}

.woo .woo-icon {
  font-size: 110px;
}

.fa-times-circle {
  color: red;
}

.fa-times-circle:hover {
  cursor: pointer;
}

.section .calculate .cal-form p, .section .calculate .cart-total p {
  padding: 20px 0;
  font-size: 36px;
  text-transform: uppercase;
  color: #3c3950;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cart-table {
  display: table;
  border: 1px solid;
  width: 100%;
}

.cart-table .row {
  display: table-row;
}

.cart-table .row .col {
  display: table-cell;
}

.box {
  background-color: #99a9b5;
  width: 60px;
  height: 60px;
}

.bd {
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.section {
  background-color: #fff;
  margin-top: 50px;
}

.section .text-top {
  padding: 20px 0;
  color: #5f727f;
}

.section .cart-table {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 50px;
}

.section .cart-table .table-top {
  height: 60px;
  background-color: #b6c6c9;
  text-transform: uppercase;
  color: #fff;
}

.section .cart-table .table-top .th-product {
  padding-left: 70px;
  text-align: left;
  width: 60%;
}

.section .cart-table .table-row {
  height: 100px;
  line-height: 100px;
}

.section .cart-table tr td {
  text-align: center;
}

.section .cart-table tr td .option-cart {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.section .cart-table tr td .option-cart input {
  width: 42%;
  border: none;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.section .cart-table tr td .option-cart button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 28px;
  border: none;
  background-color: #dfe5e8;
}

.section .cart-table tr td .option-cart button:hover {
  cursor: pointer;
}

.section .cart-table tr .apply-btn {
  text-align: left;
  padding-left: 19px;
}

.section .cart-table tr .apply-btn input {
  width: 240px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  color: #c1cad0;
  margin-right: 15px;
}

.section .cart-table tr .apply-btn .aply {
  width: 110px;
  height: 50px;
  color: #00bcd4;
  font-weight: 600;
  font-family: sans-serif;
  background-color: #fff;
  border: 3px solid #00bcd4;
  font-size: 19px;
}

.section .cart-table tr .apply-btn .aply:hover {
  cursor: pointer;
}

.section .cart-table tr .update {
  text-align: left;
}

.section .cart-table tr .update .up-btn {
  width: 185px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00bcd4;
  border: none;
  font-weight: 600;
  font-family: -webkit-pictograph;
  border-radius: 3px;
}

.section .cart-table tr .update .up-btn:hover {
  cursor: pointer;
}

.section .cart-table tr .check {
  text-align: left;
}

.section .cart-table tr .check .check-btn {
  width: 190px;
  height: 50px;
  background-color: #393d50;
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  position: relative;
  border: none;
  left: -2px;
  border-radius: 3px;
}

.section .cart-table tr .check .check-btn:hover {
  cursor: pointer;
}

.section .cart-table tr .check .check-btn .fa-check-circle {
  padding-right: 10px;
}

.section .cart-table tr .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .cart-table tr .product-list i,
.section .cart-table tr .product-list .box,
.section .cart-table tr .product-list p {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section .calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.section .calculate .cal-form {
  width: 48%;
}

.section .calculate .cal-form select {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  margin-bottom: 15px;
  color: #cfd7dc;
  border: 1px solid;
}

.section .calculate .cal-form select option {
  padding: 0 10px;
}

.section .calculate .cal-form .cal-ip {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .calculate .cal-form .cal-ip input {
  width: 45%;
  padding: 0 10px;
  height: 30px;
  color: #cfd7dc;
  border: 1px solid;
}

.section .calculate .cal-form .cal-btn {
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 4px solid #00bcd4;
  border-radius: 3px;
  color: #00bcd4;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 19px;
}

.section .calculate .cart-total {
  width: 48%;
}

.section .calculate .cart-total .total-price {
  display: table;
  width: 100%;
}

.section .calculate .cart-total .total-price .row {
  display: table-row;
  color: #5f727f;
  width: 50%;
}

.section .calculate .cart-total .total-price .row .col {
  display: table-cell;
  border: 1px solid #ccc;
  text-align: left;
  padding-left: 15px;
}

.section .calculate .cart-total .total-price .row .col-left {
  background-color: #f0f3f2;
}

.section .calculate .cart-total .total-price .row-hegth {
  height: 50px;
  line-height: 50px;
}

.section .calculate .cart-total .total-price .row-hegth .price-15 {
  font-size: 24px;
}

.section .calculate .cart-total .total-price .row-two .col-hght {
  height: 90px;
  line-height: 90px;
}

.section .calculate .cart-total .total-price .row-two .col li {
  list-style: square;
  font-size: 14px;
}

.section .calculate .cart-total .total-price .row-two .col {
  line-height: 30px;
}

.section .maybe {
  margin-bottom: 120px;
}

.section .maybe .maybe-title {
  padding: 50px 0;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  color: #3c3950;
  font-family: sans-serif;
}

.section .maybe .maybe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section .maybe .maybe-items {
  height: 285px;
}

.section .maybe .maybe-items .bg-items {
  background-color: #f0f3f2;
  height: 200px;
  width: 160px;
  position: relative;
}

.section .maybe .maybe-items .circle-sale {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #00bcd4;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(118px, 30px);
          transform: translate(118px, 30px);
}

.section .maybe .maybe-items .circle-new {
  width: 54px;
  height: 54px;
  border-radius: 54px;
  background-color: #393d50;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(122px, 79px);
          transform: translate(122px, 79px);
}

.section .maybe .maybe-items .maybe-price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-top: none;
  width: 160px;
}

.section .maybe .maybe-items .maybe-price p {
  padding: 5px;
}

.section .maybe .maybe-items .maybe-price .p-price {
  color: #22c5da;
}

.section .maybe .maybe-items .maybe-price .demi-text {
  color: #5f727f;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    margin-bottom: 10px;
  }
  .header {
    max-width: 768;
    margin: 0 auto;
  }
  .header .navbar-bg .navbar {
    padding: 0 1rem;
  }
  .header .navbar-bg .navbar .navbar-user {
    display: none;
  }
  .thegem .thegem-bg .thegem-logo {
    padding: 0 1rem;
  }
  .thegem .thegem-bg .thegem-btn {
    display: none;
  }
  .thegem .thegem-bg .thegem-icon {
    display: none;
  }
  .woo .woo-child {
    padding-left: 1rem;
  }
  .woo .woo-icon {
    display: none;
  }
  .section .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .calculate {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .calculate .cal-form {
    width: 100%;
  }
  .section .calculate .cart-total {
    width: 100%;
  }
  .section .maybe {
    padding: 0 1rem;
  }
  .section .maybe .maybe-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .maybe .maybe-list .maybe-items {
    margin: 20px 0;
    width: 100%;
  }
  .section .maybe .maybe-list .maybe-items .bg-items {
    width: 100%;
  }
  .section .maybe .maybe-list .maybe-price {
    width: 100%;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gem-bg .wd {
    margin: 20px 0;
  }
  .footer .footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .footer-child .suppot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .navbar-bg .navbar {
    padding: 0 1rem;
  }
  .navbar-bg .navbar .navbar-user {
    display: none;
  }
  h3 {
    margin-bottom: 10px;
  }
  .header {
    max-width: 768;
    margin: 0 auto;
  }
  .thegem .thegem-bg .thegem-logo {
    padding: 0 1rem;
  }
  .thegem .thegem-bg .thegem-icon {
    display: none;
  }
  .woo {
    padding: 0 1rem;
  }
  .section .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .calculate {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .calculate .cal-form {
    width: 100%;
  }
  .section .calculate .cart-total {
    padding: 0 20px;
    width: 100%;
  }
  .section .maybe .maybe-list {
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section .maybe .maybe-list .maybe-items {
    margin: 10px 5px;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gem-bg .wd {
    margin: 20px 0;
  }
  .footer .footer-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .maybe .maybe-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section .maybe .maybe-list .maybe-items {
    margin-bottom: 20px;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

h3 {
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #fff;
}

.gem-bg .gem-bg-child .post .cile-top .post-circle .circle, .gem-bg .gem-bg-child .post .cile-top .post-circle .circle-1, .gem-bg .gem-bg-child .post .cile-top .post-circle .circle-2 {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #99a9b5;
  margin-right: 10px;
}

.gem-bg .gem-bg-child .gem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gem-bg .gem-bg-child .post .cile-top, .gem-bg .us .email-top, .gem-bg .flcikr .sq {
  margin-top: 50px;
  height: 50%;
}

.gem-bg .clients .squares .squares-list .squares-items, .gem-bg .flcikr .sq .sq-list .sq-items {
  background-color: #828e97;
  width: 80px;
  height: 80px;
}

hr {
  border-top: 1px dashed #50586a;
  margin: 15px 0;
}

a {
  color: #0993a9;
}

h3 {
  font-family: sans-serif;
}

.fa-caret-down {
  color: red;
  line-height: 22px;
  margin-left: 10px;
}

.fa-circle {
  font-size: 9px;
}

.pd-right {
  padding-right: 10px;
}

.cl-link {
  color: #91a0ac;
}

.gem-bg {
  background-color: #212331;
  height: 900px;
}

.gem-bg .gem-bg-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  background-color: #212331;
  height: 100%;
  color: #91a0ac;
}

.gem-bg .gem-bg-child .gem {
  background-color: #212331;
}

.gem-bg .gem-bg-child .gem .gem-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gem-bg .gem-bg-child .gem .gem-img i {
  font-size: 50px;
  line-height: 80px;
}

.gem-bg .gem-bg-child .gem .gem-img p {
  font-size: 36px;
  color: #fff;
}

.gem-bg .gem-bg-child .gem .gem-img p span {
  font-family: sans-serif;
  font-weight: 600;
}

.gem-bg .gem-bg-child .gem .gem-text {
  color: #99a9b5;
  font-family: cursive;
  line-height: 23px;
}

.gem-bg .gem-bg-child .gem .gem-contact p,
.gem-bg .gem-bg-child .gem .gem-contact li {
  line-height: 35px;
}

.gem-bg .gem-bg-child .wd {
  width: 261px;
  height: 640px;
}

.gem-bg .gem-bg-child .post .cile-top .post-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gem-bg .gem-bg-child .post .cile-top .post-circle .circle-1 {
  background-color: #4b565d;
}

.gem-bg .gem-bg-child .post .cile-top .post-circle .circle-2 {
  background-color: #63707a;
}

.gem-bg .gem-bg-child .post .cile-top .post-circle .comment .cmt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gem-bg .gem-bg-child .useful li {
  line-height: 7px;
  list-style: inside;
  color: #0993a9;
}

.gem-bg .gem-bg-child .useful li:nth-child(5) {
  color: #fff;
}

.gem-bg .gem-bg-child .useful li:nth-child(5) span {
  color: #0993a9;
}

.gem-bg .us .email-top {
  position: relative;
}

.gem-bg .us .email-top input {
  line-height: 30px;
  padding-left: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #464756;
  border-radius: 3px;
  background-color: #181828;
}

.gem-bg .us .email-top .mail-add {
  color: #99a9b5;
}

.gem-bg .us .email-top .mail-add input:focus {
  outline: none;
  border: 2px solid #00bcd4;
}

.gem-bg .us .email-top .fa-user {
  position: absolute;
  top: 8px;
  right: 6px;
}

.gem-bg .us .email-top .fa-envelope {
  position: absolute;
  right: 6px;
  top: 55px;
}

.gem-bg .us .email-top .mes input {
  height: 100px;
  color: #464756;
}

.gem-bg .us .email-top button {
  width: 100%;
  line-height: 38px;
  text-transform: uppercase;
  background-color: #394050;
  color: #99a9b5;
  border-radius: 3px;
  border: none;
}

.gem-bg .clients .squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 166px;
}

.gem-bg .clients .squares .squares-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gem-bg .flcikr .sq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gem-bg .flcikr .sq .sq-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 9px;
}

.gem-bg .flcikr .newsletter p {
  margin-bottom: 45px;
}

.gem-bg .flcikr .newsletter .text-letter {
  position: relative;
}

.gem-bg .flcikr .newsletter .text-letter input {
  width: 100%;
  background-color: #181828;
  height: 40px;
  border-radius: 3px;
  color: #494a59;
  border: 1px solid #394050;
}

.gem-bg .flcikr .newsletter .text-letter .fa-chevron-right {
  position: absolute;
  top: 0px;
  right: -1px;
  background-color: red;
  padding: 13px 16px;
  border: none;
  background-color: #394050;
  border-radius: 3px;
}

.gem-bg .flcikr .newsletter .text-letter p {
  font-size: 14px;
  margin-top: 10px;
}

.footer {
  background-color: #181828;
  color: #8c9ba7;
  height: 100px;
}

.footer .footer-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 100px;
  background-color: #181828;
}

.footer .footer-child li {
  padding: 0 10px;
}

.footer .footer-child .fa-facebook {
  color: #315bd6;
}

.footer .footer-child .fa-linkedin-in {
  color: #0672af;
}

.footer .footer-child .fa-instagram {
  color: #c782ae;
}

.footer .footer-child .fa-youtube {
  color: #ae0e0e;
}

.footer .footer-child .fa-google-plus-g {
  color: #53232c;
}

.footer .footer-child .fa-pinterest-p {
  color: #f05354;
}

.footer .footer-child .suppot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer-child .network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    margin-bottom: 10px;
  }
  .header {
    max-width: 768;
    margin: 0 auto;
  }
  .header .navbar-bg .navbar {
    padding: 0 1rem;
  }
  .header .navbar-bg .navbar .navbar-user {
    display: none;
  }
  .thegem .thegem-bg .thegem-logo {
    padding: 0 1rem;
  }
  .thegem .thegem-bg .thegem-btn {
    display: none;
  }
  .thegem .thegem-bg .thegem-icon {
    display: none;
  }
  .woo .woo-child {
    padding-left: 1rem;
  }
  .woo .woo-icon {
    display: none;
  }
  .section .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .calculate {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .calculate .cal-form {
    width: 100%;
  }
  .section .calculate .cart-total {
    width: 100%;
  }
  .section .maybe {
    padding: 0 1rem;
  }
  .section .maybe .maybe-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .maybe .maybe-list .maybe-items {
    margin: 20px 0;
    width: 100%;
  }
  .section .maybe .maybe-list .maybe-items .bg-items {
    width: 100%;
  }
  .section .maybe .maybe-list .maybe-price {
    width: 100%;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gem-bg .wd {
    margin: 20px 0;
  }
  .footer .footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .footer-child .suppot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .navbar-bg .navbar {
    padding: 0 1rem;
  }
  .navbar-bg .navbar .navbar-user {
    display: none;
  }
  h3 {
    margin-bottom: 10px;
  }
  .header {
    max-width: 768;
    margin: 0 auto;
  }
  .thegem .thegem-bg .thegem-logo {
    padding: 0 1rem;
  }
  .thegem .thegem-bg .thegem-icon {
    display: none;
  }
  .woo {
    padding: 0 1rem;
  }
  .section .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .calculate {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .calculate .cal-form {
    width: 100%;
  }
  .section .calculate .cart-total {
    padding: 0 20px;
    width: 100%;
  }
  .section .maybe .maybe-list {
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section .maybe .maybe-list .maybe-items {
    margin: 10px 5px;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gem-bg .wd {
    margin: 20px 0;
  }
  .footer .footer-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .isMobile {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 12px;
  }
  .section .maybe .maybe-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section .maybe .maybe-list .maybe-items {
    margin-bottom: 20px;
  }
  .gem-bg {
    height: auto;
  }
  .gem-bg .gem-bg-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cl-blue {
  color: #33c9dd;
}

.size {
  color: #a7b4bf;
  padding-left: 20px;
}

.bg {
  background-color: #f0f3f2;
}

li {
  list-style: none;
}

a {
  color: #0993a9;
}

.navbar, .thegem .thegem-bg, .woo .woo-child, .section, .gem-bg .gem-bg-child, .footer .footer-child {
  width: 1170px;
  margin: 0 auto;
  max-width: 100%;
}
/*# sourceMappingURL=index.css.map */